//-about.pug
extends extends/layout.pug

block title
  title Christopher J. Bishop | About

block content
  main.content
    h2 About Me
    p Armed with a Bachelor of Science New Media Communication degree from Middle Tennessee State University, I graduated in 2014 interested in pursuing Web Design and Development. I quickly fell in love with the front-end web development side of the field due to the unique challenges and problem-solving required to build successful websites. I came to love the gratification found in turning flat designs into interactive and full-functioning websites through code, and became excited about the seemingly infinite opportunities to learn and grow. Over the past 4+ years I’ve been working hard to hone my skills as a Front-End Web Developer at the companies I’ve worked for and through freelance projects.

    p I'm currently exploring new opportunities outside of strict web development that are more relational and people-oriented. While I enjoy the technical side of web development, I've come to realize that I am more more of a "people-person", and find fulfillment in interacting with and fostering positive and lasting relationships with others. Because of that, I'm interested in roles that are more customer-centric such as in Technical Customer Service/Support, which utilizes my technical background while providing the customer-interaction I desire.

    p I am passionate about learning and pride myself on being self-motivated, organized, detail orientated, and patient in problem solving. I always make a point to come to work with a positive and uplifting attitude, placing a genuine emphasis on relationships. I am an inherent “people-person”, and consider myself to be an excellent communicator. Most importantly, I place great value on integrity and professionalism in all that I do.

    h3 My skills include:
    ul
      li HTML
      li CSS/SCSS
      li Command Line/Terminal
      li Basic JavaScript/jQuery
      li Git
      li Custom WordPress Development
      li Proficiency in Adobe Photoshop/Illustrator and Sketch
      li Excellent Verbal and Written Communication Skills

    h3 Interests
    p Outside of work, I enjoy running, spending time with my gorgeous wife, hanging out at local coffee shops, chilling with our semi-friendly cat, hanging out with friends and enjoying meaningful conversation with the people in my life.
