//-about.pug
extends extends/layout.pug

block title
  title Chris Bishop | About

block content
  main.content
    h2 About Me

    p I am passionate about learning and pride myself on being self-motivated, organized, detail orientated, and patient in problem solving. I always make a point to come to work with a positive and uplifting attitude, placing a genuine emphasis on relationships. I am an inherent “people-person”, and consider myself to be an excellent communicator. Most importantly, I place great value on integrity and professionalism in all that I do.

    h3 My skills include:
    ul
      li HTML
      li CSS/SCSS
      li Command Line/Terminal
      li Basic JavaScript/jQuery
      li Git
      li Custom WordPress Development
      li Proficiency in Adobe Photoshop/Illustrator and Sketch
      li Excellent Verbal and Written Communication Skills

    h3 Interests
    p Outside of work, I enjoy running, spending time with my gorgeous wife, hanging out at local coffee shops, chilling with our semi-friendly cat, hanging out with friends and enjoying meaningful conversation with the people in my life.
