//-about.pug
extends extends/layout.pug

block title
  title Christopher J. Bishop | About

block content
  main.content
    h2 About Me
    p Armed with a Bachelor of Science New Media Communication degree from Middle Tennessee State University, I graduated in 2014 interested in pursuing Web Design and Development. I quickly fell in love with the front-end web development side of the field due to the unique challenges and problem-solving required to build successful websites. I came to love the gratification found in turning flat designs into interactive and full-functioning websites through code, and became excited about the seemingly infinite opportunities to learn and grow. Over the past 3 years I’ve been working hard to hone my skills as a Front-End Web Developer at the companies I’ve worked for and through freelance projects.

    p I am passionate about learning, always strive to do my best work, and pride myself on being self-motivated and focused on the job at hand. I place great value on Integrity and Professionalism, and seek to exemplify both in all that I do.

    h3 My skills include:
    ul
      li HTML
      li CSS/SCSS
      li Command Line/Terminal
      li Basic JavaScript/jQuery
      li Git
      li Custom WordPress Development
      li Proficiency in Adobe Photoshop/Illustrator and Sketch

    h3 Interests
    p In addition to building websites, I enjoy hanging out at local coffee shops, running, spending time with my gorgeous wife, chilling with our semi-friendly cat, hanging out with friends and enjoying meaningful conversation with the people in my life.
