//-index.pug
extends extends/layout.pug

block content
  main.content
    .intro
      h3 Front-End Developer located in San Antonio, TX.
      p Lover of cats and strong coffee.
      h4 You can find me on the internet below:
