//-index.pug
extends extends/layout.pug

block content
  main.content
    .intro
      h3 Front-End Developer located in San Antonio, TX.
      p Seeking a role in Technical Customer Support.
      h4 Connect with me below:
