//-index.pug
extends extends/layout.pug

block content
  .main
    .intro
      h2 Front-End Developer located in San Antonio, TX.
      p Lover of cats and strong coffee. You can find me on the internet below:
