//-projects.pug
extends extends/layout.pug

block title
  title Christopher J. Bishop | Projects

block content
  main.content.projects
    h2 Projects
    h4
      svg.icon.icon-Code
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Code')
      | Personal Website
    p This website, christhebishop.com, built to display my work and experience.
    p Built using the following:
    ul
      li HTML
      li <a href="https://pugjs.org/api/getting-started.html" target="_blank">pugjs</a> for HTML templating
      li CSS/SCSS
      li jQuery
      li npm scripts to compile my SCSS, render pug templates, spin up local dev server with Browsersync, and minify production assets
      li git
    a(href='https://github.com/christhebishop/personal-website' target='_blank' class='project-link')
      svg.icon.icon-Link
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Link')
      | View the Code On GitHub

    h3 Work

    h4
      svg.icon.icon-Code
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Code')
      | Custom Website Development for Simple Focus
    p I inherited this project from another developer, and was given only the coded desktop version of the homepage. I was responsible for converting the code to a custom WordPress theme and building out the remainder of the website.
    p Built using the following:
    ul
      li PSD Designs
      li WordPress CMS
      li Underscores barebones WordPress starter theme - SCSS version
      li Custom HTML and PHP templates
      li CSS/SCSS
      li jQuery
    a(href='http://www.staxmusicacademy.org/' target='_blank' class='project-link')
      svg.icon.icon-Link
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Link')
      | View

    h4
      svg.icon.icon-Code
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Code')
      | Custom Website Development for Simple Focus
    p I was the main developer on this WordPress site last year. It's built on the Foundation 5 version of the FoundationPress starter theme.
    p Built using the following:
    ul
      li PSD Designs
      li WordPress CMS
      li FoundationPress WordPress starter theme built on Foundation 5 Front-End Framework
      li Custom HTML and PHP templates
      li Custom Post Types
      li CSS/SCSS
    a(href='http://www.challengeentertainment.com/' target='_blank' class='project-link')
      svg.icon.icon-Link
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Link')
      | View

    h4
      svg.icon.icon-Code
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Code')
      | Custom Website Development for G/O Digital
    p Built using the following:
    ul
      li PSD Designs
      li WordPress CMS
      li Foundation 5 Front-End Framework
      li Custom HTML and PHP theme templates
      li CSS/SCSS
    a(href='http://www.adoptionsupportcenter.com/' target='_blank' class='project-link')
      svg.icon.icon-Link
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Link')
      | View

    h4
      svg.icon.icon-Code
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Code')
      | Custom Website Development for G/O Digital
    p Built using the following:
    ul
      li PSD Designs
      li WordPress CMS
      li Custom HTML and PHP theme templates
      li CSS/SCSS
    a(href='http://www.hillhillcarter.com/' target='_blank' class='project-link')
      svg.icon.icon-Link
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Link')
      | View

    h4
      svg.icon.icon-Code
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Code')
      | Custom Website Development for G/O Digital
    p Built using the following:
    ul
      li PSD Designs
      li WordPress CMS
      li Custom HTML and PHP theme templates
      li CSS/SCSS
    a(href='http://www.sunnington.com/' target='_blank' class='project-link')
      svg.icon.icon-Link
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Link')
      | View

    h3 Freelance
    h4
      svg.icon.icon-Code
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Code')
      | Freelance Custom WordPress site - 2015
    p Custom website for a local business.
    p Built using the following:
    ul
      li WordPress CMS
      li FoundationPress WordPress starter theme built on Foundation 5 Front-End Framework
      li Custom HTML and PHP theme templates
      li CSS/SCSS
    a(href='http://www.jssjanitorial.com/' target='_blank' class='project-link')
      svg.icon.icon-Link
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Link')
      | View

    h4
      svg.icon.icon-Design
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Design')
      | Freelance T-Shirt Design - 2015
    p This is a freelance T-Shirt design. The client provided me with a rough sketch and a picture of an existing T-Shirt they wanted me to model the design after. I created the design in Adobe Illustrator and did revisions for the client, providing a couple options for them to chose from.<p>
    img(src='assets/portfolio/tshirt-design.png')

    h4
      svg.icon.icon-Design
        use(xlink:href='assets/images/icons/symbol-defs.svg#icon-Design')
      | Freelance Logo Design - 2014
    p This is a logo I designed for a client who wanted something along the lines of the "PHP elephant sitting in front of a book wearing glasses..." They also wanted it in a style reminiscent of the old Barnes and Noble Author posters (<a href="http://www.neatorama.com/2013/02/04/Mark-Summers-The-Man-Behind-the-Iconic-Barnes-Noble-Author-Portraits/" target="blank">See Here</a>). I did a free-hand sketch of logo on pen and paper and then scanned the image into my computer and converted it to an Adobe Illustrator file for the completion of the editing.
    img(src='assets/portfolio/Logo5.1.png')
