//-layout.pug
doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Christopher J. Bishop
    meta(name='description' content='The Portfolio website for Christopher J. Bishop, a Front-End Web Developer/Designer located in San Antonio, TX.')
    meta(property='og:type' content='website')/
    meta(property='og:title' content='Christopher J. Bishop')/
    meta(property='og:url' content='http://christhebishop.com')/
    meta(property='og:description' content='This is the Portfolio Website of Christopher J. Bishop, a Front-End Web Developer located in San Antonio, TX.')/
    meta(property='og:image' content='http://christhebishop.com/assets/screenshot.png')/
    meta(name='viewport' content='width=device-width, initial-scale=1')

    link(rel='apple-touch-icon' type='text/css' href='apple-touch-icon.png')
    //Place favicon.ico in the root directory
    link(rel='stylesheet' type='text/css' href='dist/css/main.css')

  body
    block content
    block foot
    footer
