@keyframes fade-in {
  0% {opacity: 0;}
  100% { opacity: 1; }
}

.content {
  @include container;
  animation: fade-in 0.65s ease-in;
  position: relative;

  h2:first-of-type {
    margin-top: 0;
  }

  .project-link,
  .view-link {
    display: inline-block;
    margin: .5rem 0;
    padding: 5px 15px 5px 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    font-size: rem(12);
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background 0.15s ease-in,
                color 0.15s ease-in;
        
    &:after {
      content: '';
      display: table;
      clear: both;
    }

    &:hover {
      background: $blue;
      color: #fff;
    }

    .icon {
      margin-right: 5px;
    }
  }

  // Homepage
  .intro {
    text-align: center;

    h3 {
      margin-top: 0;
    }

    p {
      font-size: rem(22);
      @include fluid-type(37.5rem, 80rem, 1rem, 1.375rem);
    }

    h4 {
      margin-bottom: 0;
    }
  }

  // Experience
  &.experience {
    h3 {
      .icon {
        margin-right: 5px;
        color: lighten($black, 25%);
        position: relative;
        top: 3px;
      }

      span {
        display: none;

        @include tablet {
          display: inline;
        }
      }
    }
  }

  // Projects
  &.projects {
    h3 {
      display: inline-block;
      border: 2px solid $blue;
      padding: 5px 10px;
      position: relative;
    }

    h4 {
      .icon {
        vertical-align: middle;
        margin-right: 5px;
        color: lighten($black, 25%);
        position: relative;
        top: -1px;
      }
    }

    a {
      .icon {
        margin-right: 10px;
      }
    }
  }
}
