//Global Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: $black;
  font-family: $sourceSans;
  line-height: 1.5;
  font-weight: 400;
  @include fluid-type(37.5rem, 80rem, 1rem, 1.125rem);
}

a {
  color: $blue;
  text-decoration: none;
  transition: color 0.15s ease-in;

  &:hover {
    color: lighten($blue, 8%);
  }
}

img {
  max-width: 100%;
  height: auto;
}
