//Global Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: $black;
  font-family: $sourceSans;
  line-height: 1.5;
  font-weight: 400;
  @include fluid-type(37.5rem, 80rem, 1rem, 1.125rem);
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: $blue;
  text-decoration: none;
  transition: color 0.15s ease-in;

  &:hover {
    color: lighten($blue, 20%);
  }
}

img {
  max-width: 100%;
  height: auto;
}

//Icons
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
