//Variables
//-Typography
$oxygen: 'Oxygen Mono', monospace;
$sourceSans: 'Source Sans Pro', sans-serif;

//-Colors
$black: #333;
$blue: #077dd6;

//Breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;
